{
  "openapi": "3.1.0",
  "info": {
    "title": "Unsora API",
    "version": "1.2.0",
    "description": "Public API for Unsora integrations. Authenticate with Clerk JWT or uns_live_* API key. API keys are rate-limited to 60 requests/minute and support idempotency keys. Async jobs complete via polling GET /public/image/status/{id}."
  },
  "servers": [
    {
      "url": "https://sadek.tryunsora.com/api/v1",
      "description": "Versioned API (recommended)"
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Clippings"
    },
    {
      "name": "Connect"
    },
    {
      "name": "Image Generations"
    },
    {
      "name": "Music Generations"
    },
    {
      "name": "Influencer Studio"
    },
    {
      "name": "Posts"
    },
    {
      "name": "Thumbnails"
    },
    {
      "name": "User"
    },
    {
      "name": "Video Generations"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clerk session JWT or Unsora API key (uns_live_*)"
      }
    },
    "schemas": {
      "ConnectedAccountsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocialAccount"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "caption": {
            "type": "string",
            "description": "Post caption shown on connected platforms"
          },
          "mainCaption": {
            "type": "string",
            "description": "Legacy alias for caption"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostAccountRef"
            },
            "minItems": 1,
            "maxItems": 10
          },
          "media": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PostMediaVideo"
              },
              {
                "$ref": "#/components/schemas/PostMediaSlideshow"
              },
              {
                "type": "null"
              }
            ],
            "description": "video, slideshow, or null for text-only drafts. Legacy: array of {type, url} items."
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 with timezone. At least 2 minutes ahead. Omit for draft."
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "description": "Legacy alias for scheduled_at"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone label stored with the post"
          },
          "external_id": {
            "type": "string",
            "maxLength": 128,
            "description": "Idempotency key (alias for Idempotency-Key header on API key requests)"
          },
          "settings": {
            "$ref": "#/components/schemas/PostSettings",
            "description": "Optional Instagram and TikTok publish options only. Same fields may be sent at the top level as `instagram` or `tiktok`."
          },
          "instagram": {
            "$ref": "#/components/schemas/PostSettingsInstagram",
            "description": "Optional alias for settings.instagram"
          },
          "tiktok": {
            "$ref": "#/components/schemas/PostSettingsTiktok",
            "description": "Optional alias for settings.tiktok"
          }
        },
        "required": [
          "accounts"
        ]
      },
      "CreatePostResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/PublicPostSummary"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "data",
          "message"
        ]
      },
      "CreditsResponse": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "number"
          }
        },
        "required": [
          "credits"
        ]
      },
      "SubscriptionData": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "isCancelled": {
            "type": "boolean"
          },
          "stripeSubscriptionId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "stripeCustomerId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "stripePriceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "stripeCurrentPeriodEnd": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "plan",
          "status",
          "isActive",
          "isCancelled"
        ]
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/SubscriptionData"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "PlanRequiredError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "PLAN_REQUIRED"
            ]
          }
        },
        "required": [
          "success",
          "error",
          "code"
        ]
      },
      "PostAccountInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Legacy alias for id"
          },
          "customCaption": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "PostAccountLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "postId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "customCaption": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "published": {
            "type": "boolean"
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "account": {
            "$ref": "#/components/schemas/PostLinkedAccount"
          }
        },
        "required": [
          "id",
          "postId",
          "accountId",
          "published"
        ]
      },
      "PostAccountRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Account id from GET /public/accounts"
          }
        },
        "required": [
          "id"
        ]
      },
      "PostDataResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/PostRecord"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "PostDeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "PostLinkedAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "accountName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "accountUsername": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "profilePicture": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "provider"
        ]
      },
      "PostListDataResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "posts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PostRecord"
                }
              },
              "pagination": {
                "$ref": "#/components/schemas/PostListPagination"
              }
            },
            "required": [
              "posts",
              "pagination"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "PostListPagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        },
        "required": [
          "page",
          "limit",
          "total",
          "totalPages"
        ]
      },
      "PostMediaRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "postId": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/PostMediaType"
          },
          "order": {
            "type": "integer"
          },
          "assetId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "postId",
          "type",
          "order",
          "assetId"
        ]
      },
      "PostMediaSlideshow": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "slideshow"
            ]
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 1,
            "maxItems": 35
          }
        },
        "required": [
          "type",
          "urls"
        ]
      },
      "PostMediaType": {
        "type": "string",
        "enum": [
          "VIDEO",
          "IMAGE"
        ]
      },
      "PostMediaVideo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "video"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "duration_sec": {
            "type": "number"
          },
          "duration_seconds": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "bytes": {
            "type": "number"
          },
          "size": {
            "type": "number"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "mime_type": {
            "type": "string"
          },
          "mime": {
            "type": "string"
          },
          "cover_url": {
            "type": "string",
            "format": "uri",
            "description": "Optional Instagram Reel cover image URL"
          }
        },
        "required": [
          "type",
          "url"
        ]
      },
      "PostRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/PostType"
          },
          "mainCaption": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/PostStatus"
          },
          "scheduledFor": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "scheduledTimezone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "media": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostMediaRecord"
            }
          },
          "postAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostAccountLink"
            }
          }
        },
        "required": [
          "id",
          "userId",
          "type",
          "mainCaption",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "PostSettings": {
        "type": "object",
        "description": "Optional publish options for Instagram and TikTok only. All fields are optional.",
        "additionalProperties": false,
        "properties": {
          "instagram": {
            "$ref": "#/components/schemas/PostSettingsInstagram"
          },
          "tiktok": {
            "$ref": "#/components/schemas/PostSettingsTiktok"
          }
        }
      },
      "PostSettingsInstagram": {
        "type": "object",
        "description": "Instagram-only options (e.g. Reel cover).",
        "properties": {
          "cover_url": {
            "type": "string",
            "format": "uri",
            "description": "Custom Reel cover image URL (JPG/PNG). Alias: coverUrl."
          }
        }
      },
      "PostSettingsTiktok": {
        "type": "object",
        "description": "TikTok-only options. Applied to each TikTok account on the post. Query creator_info for allowed privacy_level values.",
        "properties": {
          "post_mode": {
            "type": "string",
            "enum": [
              "DIRECT_POST",
              "MEDIA_UPLOAD"
            ],
            "description": "DIRECT_POST publishes immediately; MEDIA_UPLOAD sends to the TikTok inbox for the user to finish in-app."
          },
          "privacy_level": {
            "type": "string",
            "description": "Must match a value from TikTok creator_info (e.g. PUBLIC_TO_EVERYONE, SELF_ONLY)."
          },
          "music_usage_confirmation": {
            "type": "boolean",
            "description": "Confirm third-party music usage rights when required by TikTok."
          },
          "disable_comment": {
            "type": "boolean"
          },
          "disable_duet": {
            "type": "boolean"
          },
          "disable_stitch": {
            "type": "boolean"
          },
          "brand_content_toggle": {
            "type": "boolean",
            "description": "Paid partnership promoting a third-party brand."
          },
          "brand_organic_toggle": {
            "type": "boolean",
            "description": "Promoting the creator's own business."
          },
          "is_aigc": {
            "type": "boolean",
            "description": "AI-generated content disclosure."
          },
          "auto_add_music": {
            "type": "boolean",
            "description": "Photo posts only — let TikTok add background music."
          },
          "photo_cover_index": {
            "type": "integer",
            "minimum": 0,
            "description": "Slideshow only — zero-based index of the cover image."
          },
          "video_cover_timestamp_ms": {
            "type": "integer",
            "description": "Video reel only — frame timestamp for the cover thumbnail."
          }
        }
      },
      "PostStatus": {
        "type": "string",
        "enum": [
          "DRAFT",
          "SCHEDULED",
          "PUBLISHING",
          "PUBLISHED",
          "FAILED"
        ]
      },
      "PostType": {
        "type": "string",
        "enum": [
          "VIDEO",
          "IMAGE",
          "CAROUSEL",
          "TEXT"
        ]
      },
      "PublicPostSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "publishing",
              "published",
              "failed"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "video",
              "image",
              "slideshow",
              "text"
            ]
          },
          "caption": {
            "type": "string"
          },
          "scheduled_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "status",
          "type",
          "caption",
          "scheduled_at",
          "accounts"
        ]
      },
      "SocialAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "providerAccountId": {
            "type": "string"
          },
          "accountName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "accountUsername": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "profilePicture": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "provider",
          "providerAccountId",
          "accountName",
          "accountUsername",
          "profilePicture",
          "expiresAt"
        ]
      },
      "CreateImageGenerationRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt for the image"
          },
          "model": {
            "type": "string",
            "default": "nano-banana-2",
            "description": "Model key: nano-banana-2, nano-banana-pro, seedream-v5-lite, gpt-image-1.5, gpt-image-2"
          },
          "ratio": {
            "type": "string",
            "default": "auto",
            "description": "Aspect ratio; allowed values depend on model"
          },
          "resolution": {
            "type": "string",
            "default": "2k",
            "description": "Output size or quality; allowed values depend on model"
          },
          "referenceImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Single reference image URL"
          },
          "referenceImageUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Multiple reference image URLs"
          },
          "nsfwChecker": {
            "type": "boolean"
          }
        },
        "required": [
          "prompt"
        ]
      },
      "CreateImageGenerationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "generation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "QUEUED",
                  "PROCESSING",
                  "COMPLETED",
                  "FAILED"
                ]
              }
            },
            "required": [
              "id",
              "status"
            ]
          },
          "creditsDeducted": {
            "type": "number"
          },
          "creditsRemaining": {
            "type": "number"
          }
        },
        "required": [
          "success",
          "generation"
        ]
      },
      "MusicGenerationRecord": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": { "type": "string" },
          "status": { "type": "string" },
          "lyrics": { "type": "string" },
          "prompt": { "type": "string" },
          "model": { "type": "string" },
          "outputFormat": { "type": "string" },
          "error": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "outputAsset": { "type": "object", "additionalProperties": true }
        },
        "required": ["id", "status", "createdAt"]
      },
      "CreateMusicGenerationRequest": {
        "type": "object",
        "properties": {
          "lyrics": {
            "type": "string",
            "description": "Song lyrics (required for song models, up to 3000 chars)"
          },
          "prompt": {
            "type": "string",
            "description": "Style prompt — genre, mood, vocal style (up to 1024 chars)"
          },
          "model": {
            "type": "string",
            "default": "auto",
            "description": "Model key: auto, mureka-9, mureka-8, mureka-o2, mureka-7.6, mureka-7.5"
          },
          "output_format": {
            "type": "string",
            "enum": ["mp3", "wav", "flac"],
            "default": "mp3"
          }
        },
        "required": ["prompt"]
      },
      "CreateMusicGenerationResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "generation": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "status": { "type": "string" }
            },
            "required": ["id", "status"]
          },
          "creditsDeducted": { "type": "number" },
          "creditsRemaining": { "type": "number" }
        },
        "required": ["success", "generation", "creditsDeducted", "creditsRemaining"]
      },
      "MusicGenerationListResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "generations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MusicGenerationRecord" }
          },
          "pagination": { "$ref": "#/components/schemas/PaginationMeta" }
        },
        "required": ["success", "generations", "pagination"]
      },
      "MusicGenerationGetResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "generation": { "$ref": "#/components/schemas/MusicGenerationRecord" }
        },
        "required": ["success", "generation"]
      },
      "MusicStatusResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "status": { "type": "string" },
              "outputUrl": { "anyOf": [{ "type": "string", "format": "uri" }, { "type": "null" }] },
              "error": { "anyOf": [{ "type": "string" }, { "type": "null" }] },
              "createdAt": { "type": "string", "format": "date-time" },
              "updatedAt": { "type": "string", "format": "date-time" },
              "completedAt": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }
            },
            "required": ["id", "status"]
          }
        },
        "required": ["success", "data"]
      },
      "CreateInfluencerStudioRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string"
          },
          "aspectRatio": {
            "type": "string",
            "default": "1:1",
            "enum": [
              "1:1",
              "16:9",
              "9:16",
              "4:3",
              "3:4"
            ]
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 1
          },
          "cameraAngle": {
            "type": "string",
            "enum": [
              "pov",
              "portrait",
              "full-body",
              "close-up",
              "side-profile"
            ]
          },
          "styleMode": {
            "type": "string",
            "enum": [
              "ugc",
              "casual_daylight",
              "cozy_indoor",
              "low_light_intimate",
              "raw_flash",
              "golden_hour",
              "moody_night",
              "car_selfie",
              "mirror_selfie",
              "luxury_influencer",
              "cinematic",
              "travel_content",
              "beauty_closeup",
              "party_night_out"
            ]
          },
          "age": {
            "type": "string",
            "enum": [
              "teen",
              "young_adult",
              "adult",
              "middle_aged",
              "elderly"
            ]
          }
        },
        "required": [
          "prompt"
        ]
      },
      "CreateInfluencerStudioResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "generations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "QUEUED",
                    "PROCESSING",
                    "COMPLETED",
                    "FAILED"
                  ]
                }
              },
              "required": [
                "id",
                "status"
              ]
            }
          },
          "creditsDeducted": {
            "type": "number"
          },
          "creditsRemaining": {
            "type": "number"
          }
        },
        "required": [
          "success",
          "generations"
        ]
      },
      "CreateVideoRequest": {
        "type": "object",
        "description": "Seedance 2.0 only (seedance_2.0, 1080p). Model is not selectable on the public API.",
        "properties": {
          "prompt": {
            "type": "string"
          },
          "functionMode": {
            "type": "string",
            "default": "omni_reference",
            "enum": [
              "omni_reference",
              "first_last_frames"
            ]
          },
          "ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "21:9",
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16"
            ]
          },
          "duration": {
            "type": "integer",
            "default": 5,
            "minimum": 4,
            "maximum": 15
          },
          "image_files": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "maxItems": 9
          },
          "video_files": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "maxItems": 3
          },
          "audio_files": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "maxItems": 3
          },
          "filePaths": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "maxItems": 2,
            "description": "first_last_frames: [first_frame_url, last_frame_url]"
          },
          "generate_audio": {
            "type": "boolean",
            "default": false,
            "description": "Generate a soundtrack/audio for the video."
          }
        },
        "required": [
          "prompt"
        ]
      },
      "CreateVideoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "generation": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "QUEUED",
                  "PROCESSING",
                  "COMPLETED",
                  "FAILED"
                ]
              }
            },
            "required": [
              "id",
              "status"
            ]
          },
          "model": {
            "type": "string",
            "enum": [
              "seedance_2.0"
            ]
          },
          "creditsDeducted": {
            "type": "number"
          },
          "creditsRemaining": {
            "type": "number"
          }
        },
        "required": [
          "success",
          "generation",
          "model"
        ]
      },
      "VideoStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "model": {
                "type": "string",
                "enum": [
                  "seedance_2.0"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "QUEUED",
                  "PROCESSING",
                  "COMPLETED",
                  "FAILED"
                ]
              },
              "outputUrl": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uri"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "thumbnailUrl": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "uri"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "error": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "completedAt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "id",
              "model",
              "status"
            ]
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "VideoGenerationSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "enum": [
              "seedance_2.0"
            ]
          },
          "prompt": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "PROCESSING",
              "COMPLETED",
              "FAILED"
            ]
          },
          "ratio": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "creditsUsed": {
            "type": "integer"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "outputAsset": {
            "type": "object",
            "additionalProperties": true
          },
          "thumbnailAsset": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "model",
          "status",
          "createdAt"
        ]
      },
      "VideoListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "generations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoGenerationSummary"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "currentPage": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              },
              "totalCount": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "hasNextPage": {
                "type": "boolean"
              },
              "hasPreviousPage": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "success",
          "generations",
          "pagination"
        ]
      },
      "DeleteVideoGenerationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "totalCount": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        }
      },
      "ImageGenerationRecord": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "outputAsset": {
            "type": "object",
            "additionalProperties": true
          },
          "thumbnailAsset": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "ImageGenerationListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "generations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGenerationRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "success",
          "generations",
          "pagination"
        ]
      },
      "ImageGenerationGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "generation": {
            "$ref": "#/components/schemas/ImageGenerationRecord"
          }
        },
        "required": [
          "success",
          "generation"
        ]
      },
      "ThumbnailRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "image": {
            "type": "string"
          },
          "link": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "jobId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status",
          "createdAt"
        ]
      },
      "ThumbnailListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThumbnailRecord"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ThumbnailGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ThumbnailRecord"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ClippingJob": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "PROCESSING",
              "COMPLETED",
              "FAILED"
            ]
          },
          "videoUrl": {
            "type": "string"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "clips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClippingClip"
            }
          },
          "config": {
            "$ref": "#/components/schemas/ClippingConfig"
          },
          "creditsUsed": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "ClippingListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClippingJob"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ClippingGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ClippingJob"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "DeleteGenerationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "message"
        ]
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "mainCaption": {
            "type": "string"
          },
          "scheduledFor": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Set null to clear schedule and revert to draft"
          },
          "timezone": {
            "type": "string"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostAccountInput"
            },
            "minItems": 1
          }
        }
      },
      "ClippingConfig": {
        "type": "object",
        "description": "Job settings echoed back in resolved form: targetDuration as DURATION_*, ratio as RATIO_* (null when keeping the original ratio), captionStyle as the underlying template ID.",
        "properties": {
          "sourceLang": {
            "type": "string",
            "nullable": true
          },
          "targetLang": {
            "type": "string",
            "nullable": true
          },
          "targetDuration": {
            "type": "string",
            "enum": [
              "DURATION_0_30",
              "DURATION_0_90",
              "DURATION_30_60",
              "DURATION_60_90",
              "DURATION_90_180",
              "DURATION_180_300"
            ]
          },
          "query": {
            "type": "string",
            "nullable": true,
            "description": "Find Moments query the job was created with; null for regular viral-clip jobs."
          },
          "limit": {
            "type": "integer",
            "nullable": true
          },
          "ratio": {
            "type": "string",
            "nullable": true,
            "enum": [
              "RATIO_9_16",
              "RATIO_1_1",
              "RATIO_4_5",
              "RATIO_16_9",
              null
            ]
          },
          "enableCaption": {
            "type": "boolean"
          },
          "captionStyle": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ClippingClip": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "order": {
            "type": "integer",
            "description": "Clip index, ranked by virality (0 = highest)."
          },
          "title": {
            "type": "string",
            "description": "AI-generated clip title."
          },
          "startTime": {
            "type": "number",
            "description": "Start offset in the source video, seconds."
          },
          "endTime": {
            "type": "number",
            "description": "End offset in the source video, seconds."
          },
          "duration": {
            "type": "number",
            "description": "Clip length in seconds."
          },
          "status": {
            "type": "string"
          },
          "outputAsset": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Rendered clip video. Contains the downloadable url once the job completes."
          },
          "thumbnailAsset": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Clip thumbnail image."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Extra AI output: tags, desc (suggested description), score (virality)."
          }
        }
      },
      "ClippingCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ClippingJob"
          },
          "creditsDeducted": {
            "type": "integer"
          },
          "creditsRemaining": {
            "type": "integer"
          }
        },
        "required": [
          "success",
          "data"
        ]
      }
    }
  },
  "paths": {
    "/public/user/credits": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current credits balance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Credits balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/user/subscription": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get subscription",
        "description": "Returns the authenticated user's plan and Stripe subscription snapshot.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/accounts": {
      "get": {
        "tags": [
          "Connect"
        ],
        "summary": "Get accounts",
        "description": "Returns social accounts connected to the authenticated user for scheduling posts.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Connected accounts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectedAccountsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/posts": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Create Post",
        "description": "Create a draft or scheduled post for one or more connected accounts. Requires an active paid plan.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Optional. Replays the original response for 24h when using an API key. Same as body external_id."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay of an earlier create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePostResponse"
                }
              }
            }
          },
          "201": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Paid plan required or account not owned",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PlanRequiredError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List Posts",
        "description": "List posts for the authenticated user with optional filters.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PostStatus"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PostType"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated post list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostListDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get post",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing post ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User or post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Posts"
        ],
        "summary": "Update post",
        "description": "Update a draft or scheduled post. Published posts cannot be edited. Requires an active paid plan.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or post already published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Paid plan required or account not owned",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PlanRequiredError"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User or post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Posts"
        ],
        "summary": "Delete post",
        "description": "Delete a post. Requires an active paid plan.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing post ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Paid plan required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanRequiredError"
                }
              }
            }
          },
          "404": {
            "description": "User or post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/image/status/{id}": {
      "get": {
        "tags": [
          "Image Generations"
        ],
        "summary": "Poll image generation status",
        "description": "Unified status endpoint for image generator, AI influencer, and thumbnail jobs. Poll until status is COMPLETED or FAILED.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Generation id returned from any image create endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Current job status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "BASIC",
                            "INFLUENCER",
                            "THUMBNAIL"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "QUEUED",
                            "PROCESSING",
                            "COMPLETED",
                            "FAILED"
                          ]
                        },
                        "outputUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "thumbnailUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "error": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "completedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Generation not found"
          }
        }
      }
    },
    "/public/video/status/{id}": {
      "get": {
        "tags": [
          "Video Generations"
        ],
        "summary": "Poll video generation status",
        "description": "Poll Seedance 2.0 video jobs created via POST /public/videos/create.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Generation id from POST /public/videos/create"
          }
        ],
        "responses": {
          "200": {
            "description": "Current job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Video generation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/videos/create": {
      "post": {
        "tags": [
          "Video Generations"
        ],
        "summary": "Create Seedance 2.0 video job",
        "description": "Queues a Seedance 2.0 (seedance_2.0) video generation. Poll GET /public/video/status/{id} for completion.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Optional. Replays the original response for 24h when using an API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/public/videos/all": {
      "get": {
        "tags": [
          "Video Generations"
        ],
        "summary": "List video generations",
        "description": "Paginated list of Seedance 2.0 (seedance_2.0) video jobs for the authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/videos/{generationId}": {
      "delete": {
        "tags": [
          "Video Generations"
        ],
        "summary": "Delete video generation",
        "description": "Permanently delete a Seedance 2.0 video generation owned by the authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Generation id from POST /public/videos/create"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVideoGenerationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Video generation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/image-generations/create": {
      "post": {
        "tags": [
          "Image Generations"
        ],
        "summary": "Create image generation job",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 128
            },
            "description": "Optional. Replays the original response for 24h when using an API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/public/music/status/{id}": {
      "get": {
        "tags": ["Music Generations"],
        "summary": "Poll music generation status",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MusicStatusResponse" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/public/music-generations/create": {
      "post": {
        "tags": ["Music Generations"],
        "summary": "Create Mureka AI music generation job",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": { "type": "string", "maxLength": 128 },
            "description": "Optional. Replays the original response for 24h when using an API key."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMusicGenerationRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateMusicGenerationResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/public/music-generations/all": {
      "get": {
        "tags": ["Music Generations"],
        "summary": "List music generations (paginated)",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 12, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "Paginated list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MusicGenerationListResponse" }
              }
            }
          }
        }
      }
    },
    "/public/music-generations/{generationId}": {
      "get": {
        "tags": ["Music Generations"],
        "summary": "Get one music generation",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation record",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MusicGenerationGetResponse" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Music Generations"],
        "summary": "Delete a music generation",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SuccessMessage" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/public/influencer-studio/create": {
      "post": {
        "tags": [
          "Influencer Studio"
        ],
        "summary": "Create AI influencer generation job",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInfluencerStudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInfluencerStudioResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/thumbnails/create": {
      "post": {
        "tags": [
          "Thumbnails"
        ],
        "summary": "Create thumbnail generation job",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "variations": {
                    "type": "integer"
                  },
                  "context": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "youtube",
                            "document"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job queued"
          }
        }
      }
    },
    "/public/clippings/create": {
      "post": {
        "tags": [
          "Clippings"
        ],
        "summary": "Create AI clipping job",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "videoUrl": {
                    "type": "string",
                    "description": "Public URL of the source video (YouTube link or direct video URL).",
                    "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                  },
                  "sourceLang": {
                    "type": "string",
                    "nullable": true,
                    "description": "Source language code of the video (e.g. en, es). Omit or null to auto-detect."
                  },
                  "targetLang": {
                    "type": "string",
                    "nullable": true,
                    "description": "Target language for clip titles, descriptions, and captions. Omit or null to keep the source language."
                  },
                  "targetDuration": {
                    "type": "string",
                    "description": "Desired length range for each clip. Defaults to auto (up to 90s).",
                    "enum": [
                      "auto",
                      "lt30",
                      "30-60",
                      "60-90",
                      "90-3min",
                      "gt3min"
                    ],
                    "default": "auto"
                  },
                  "query": {
                    "type": "string",
                    "maxLength": 500,
                    "nullable": true,
                    "description": "Find Moments mode: natural-language description of the moments to extract (e.g. \"funny reactions\", \"product demos\", \"goal moments and key plays\"). When set, targetDuration is ignored. Omit to auto-detect the most viral clips.",
                    "example": "funny reactions"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "nullable": true,
                    "description": "Maximum number of clips to return, ranked by virality score (highest first). Omit to return all viral-worthy clips."
                  },
                  "ratio": {
                    "type": "string",
                    "enum": [
                      "9:16",
                      "1:1",
                      "4:5",
                      "16:9",
                      "original"
                    ],
                    "default": "original",
                    "description": "Output aspect ratio. AI reframe keeps the main subject centered when cropping. Use 9:16 for TikTok/Reels/Shorts, 1:1 or 4:5 for feed posts, 16:9 for YouTube. Omit or use original to keep the source ratio."
                  },
                  "enableCaption": {
                    "type": "boolean",
                    "default": false,
                    "description": "Burn animated captions into the exported clips."
                  },
                  "captionStyle": {
                    "type": "string",
                    "description": "Caption style preset, named by look — the color is the accent on the spoken word. glow-* styles add a soft glow, static-* styles don't animate, gaming-* are bold streamer styles, white-card/black-box place text on a card. Only used when enableCaption is true. Defaults to classic-yellow.",
                    "enum": [
                      "classic-yellow",
                      "white-card",
                      "black-box",
                      "bold-white",
                      "white-underline",
                      "playful-green",
                      "sketch-blue",
                      "bubble-blue",
                      "bubble-green",
                      "glow-yellow",
                      "duo-green",
                      "duo-purple",
                      "elegant-purple",
                      "neon-cyan",
                      "glow-pink",
                      "bold-yellow",
                      "soft-orange",
                      "glow-green",
                      "glow-orange",
                      "retro-outline",
                      "mint-bubble",
                      "comic-duo",
                      "static-outline",
                      "static-comic",
                      "static-minimal",
                      "static-green",
                      "static-yellow",
                      "static-orange",
                      "gaming-magenta",
                      "gaming-green",
                      "gaming-yellow",
                      "gaming-white",
                      "gaming-purple-box",
                      "gaming-cyan",
                      "gaming-orange-box"
                    ],
                    "default": "classic-yellow"
                  }
                },
                "required": [
                  "videoUrl"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job queued. Clips render asynchronously — poll GET /public/clippings/status/{clippingId} until status is COMPLETED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClippingCreateResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "cmcl0x2ab0001abcd1234efgh",
                    "status": "QUEUED",
                    "videoUrl": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
                    "config": {
                      "sourceLang": null,
                      "targetLang": null,
                      "targetDuration": "DURATION_30_60",
                      "limit": 5,
                      "enableCaption": true,
                      "captionStyle": "temp-7",
                      "ratio": "RATIO_9_16"
                    },
                    "createdAt": "2026-06-10T12:00:00.000Z",
                    "clips": [],
                    "creditsUsed": 40
                  },
                  "creditsDeducted": 40,
                  "creditsRemaining": 960
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (bad videoUrl, targetDuration, limit, ratio, or captionStyle), or video length could not be determined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid ratio. Use 9:16, 1:1, 4:5, 16:9, or original"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits. Cost is charged per started minute of the source video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Insufficient credits. Need 40, have 10",
                  "creditsRemaining": 10
                }
              }
            }
          }
        },
        "description": "Submit a video for AI clipping. By default the AI auto-detects the most viral clips. Set query to switch to Find Moments mode: describe the moments you want in natural language (e.g. \"funny reactions\") and the AI extracts matching clips instead — targetDuration is ignored in that mode. Cost is charged per started minute of the source video either way."
      }
    },
    "/public/image-generations/all": {
      "get": {
        "tags": [
          "Image Generations"
        ],
        "summary": "List image generations",
        "description": "Paginated list of basic image generations for the authenticated user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/image-generations/{generationId}": {
      "get": {
        "tags": [
          "Image Generations"
        ],
        "summary": "Get image generation",
        "description": "Full image generation record including assets.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationGetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Image Generations"
        ],
        "summary": "Delete image generation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteGenerationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/influencer-studio/all": {
      "get": {
        "tags": [
          "Influencer Studio"
        ],
        "summary": "List influencer generations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/influencer-studio/{generationId}": {
      "delete": {
        "tags": [
          "Influencer Studio"
        ],
        "summary": "Delete influencer generation",
        "security": [
          {
[...]
